{% extends "base.html" %}

{% block title %}Candidate Details{% endblock %}

{% block content %}
{% comment %} <div class="jumbotron"> {% endcomment %}
  <table class="table">
    <tr>
      <td>
      <img src="{{ candidate.image.url }}" width="370" height="360" class="img-fluid"> <br>
      <marquee style="color:red; font-family:Times New Roman; font-size:220%;" direction = "left">{{ candidate.party }}</marquee>
      </td>
      
    </tr>
    <tr>
      <td>
        <p><b>Name</b> :&nbsp; &nbsp; <i>{{ candidate.name }}</i></p>
        <p><b>Position</b> : &nbsp; &nbsp;{{ candidate.position }}</p>
        <p><b>Party</b> :&nbsp; &nbsp; {{ candidate.party }}</p>
        <p><b>Course</b> :&nbsp; &nbsp; {{ candidate.course }}</p>
        <p><b>Joining Year</b> :&nbsp; &nbsp; {{candidate.year}}</p>
        <p><b>About</b> :&nbsp; &nbsp; {{candidate.about}}</p>
        <p><b>Manifesto</b> :&nbsp; &nbsp; {{candidate.manifesto|linebreaks}}</p>
        
        <p><b>Achievements</b> : &nbsp; &nbsp;{{candidate.achievements}}</p>
      </td>
    </tr>
  </table>
</div>
<style>
body {
  background-color: lightgreen;  
}

</style>
{% endblock %}
