{% extends "base.html" %}
{% load widget_tweaks %}

{% load static %}

{% block title %}University Students Association Voting System{% endblock %}

{% block content %}

  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}

  <!-- First Container -->

<div class="container-fluid bg-1 text-center">
  <h1 class="margin">Welcome to University Students Association Voting System</h1>
  <h3 class="margin">This is a Online Voting Application for University Students Association.</h3>
  {% comment %} <img src="{% static ' OVS/media/images/pc.jpg' %}" class="img-responsive img-circle margin" style="display:inline" alt="pc" width="350" height="350"> {% endcomment %}
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h2 class="margin"> What Is Happening Here?</h2>
  <h4>Here you can vote for any companion whom you want to be select for the Respected Position.</h4>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">How to use?</h3><br>

  <div class="row">

    <div class="col-sm-4">
      <h4>Step-1</h4>
      <p>Click on the Register button,fill the details and register yourself for vote. </p>
    </div>

    <div class="col-sm-4">
      <h4>Step-2</h4>
      <p>Click on the Login button then enter your Username and Password. </p>
    </div>

    <div class="col-sm-4">
      <h4>Step-3</h4>
      <p>Now check the available candidate on their respected Positions, see their details and vote with your choice.</p>
    </div>
  
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>For any issue Contact us @ &nbsp; <a href="https://gmail.com">ed_hamdard@gmail.com</a>&nbsp; &nbsp; or  &nbsp;  93XXXXXXXX></p>
</footer>
<style>
    body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

  /*******paragraphs*******/

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
    height: 100%;
    margin: 0;
  }
  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }

  /*******Containers*******/
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  /*******Navbar*******/
  .navbar {
    width:100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0; 
  }

  .navbar-brand {
      font-size: 1.2em;
      padding: 0;
      font-family: Georgia, serif;
    }

  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

  .navbar-light .navbar-nav .nav-link:hover{
  font-size: 22px !important;
}


}
 

   @media only (min-width:1200px) and (max-width: 750px) {
  /* For tablets: */
   .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;} 

    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between !important;
    }

    .navbar-brand {
      font-size: 0.8em;
        padding: 0;
    }

    .button.navbar-toggler {
      position: right;
    }

    .span.navbar-toggler-icon {
      display: flex;
      align-items: right;
    }


   
}

/*for phones*/
 @media only screen and (max-width: 600px) {
     .navbar {
        font-size: 0.7em;
        padding: 0;
        
    }

    .navbar-brand {
      font-size: 1em !important;
        

    } 

    
    .button.navbar-toggler {
      display:flex;
      justify-content:right;

    }

    .span.navbar-toggler-icon {
      display: flex;
      position: right;
      justify-content:right;
    }

     
} 

 

  </style>
{% endblock %}






