{% extends "base.html" %}

{% block title %}Position{% endblock %}

{% block content %}

  <h2 style="color:#05386B;">Available Position For Vote </h2><hr><br> &nbsp;
  <ul>
    {% for position in positions %}
      <li><b><a href="{% url 'candidate' position.id %}">{{position.title}}</a></b></li><br>
    {% empty %}
      <h3>Thank you {{ user.first_name }}. You have voted for all candidates</h3>
    {% endfor %}
  </ul>
  <br>
  
  <p style ="font-size : 30px; color: #05386B;">Your Votes are:</p><br>
  <ul>
    {% for candidate in candidates %}
      <li>{{ candidate.name }} - {{ candidate.position.title }}</li>
    {% empty %}
      <p>No candidate yet</p>
    {% endfor %}
  </ul>
{% comment %} <br><footer class="container-fluid bg-1 text-center">
  <p> Note : No one can see your Votes except You. </p>
</footer> {% endcomment %}

<br>

          <!--if the Voting time is over and voting is closed-->
          {% comment %} <h3>Hello, {{user.first_name}} {{user.last_name}}</h3>
          <br>
          <h3> The Voting Time is Over and Voting has been closed now. </h3> {% endcomment %}

<p><b><a href="{% url 'dashboard' %}">Back to Dashboard</a></b></p>
<style>

body {
  background-color: #5CDB95;
}

ul {
font-size : 20px;
font-family : "Times New Roman", Times, serif;
}

li:hover{
  font-size: 30px;
}

li{
  color:black;
}
hr {
  height:2px; border-width:0; color:gray; background-color:gray; width:35%; margin-left:0}
h3{
  color:#5581F1;
}

footer{
  color: red;
  
}
</style>


{% endblock %}
